.add-images-form {
  text-align: center;
  .image-item {
    display: flex;
    align-items: center;
    ion-item {
      width: 90%;
    }
    ion-icon {
      font-size: 32px;
    }
  }
  ion-button {
    color: black;
    margin-top: 1vh;
  }
}

.coordinate-container {
  display: flex;
  align-items: center;
}
.google-map-container {
  margin-top: 2vh;
  height: 250px;
  capacitor-google-map {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}
