<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="titleicon">
      <img alt="logo" height="40px" src="assets/icon/brandLogo.png" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" scroll-y="false">
  <app-match-box
    *ngIf="matchInfo.isMatch"
    [texts]="['You', 'Match!', 'Click Me!']"
    (click)="startChat()"
  ></app-match-box>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="selected-person-spinner" *ngIf="selectedPerson == undefined">
    <ion-spinner color="primary" name="dots" *ngIf="!nonSuitable"></ion-spinner>
    <div class="non-suitable" *ngIf="nonSuitable">
      <ion-icon color="medium" name="sad-outline"></ion-icon>
      <ion-label color="medium"
        >We are sorry. No one suitable for you yet</ion-label
      >
    </div>
  </div>
  <ion-card
    class="item-card"
    [ngClass]="{'display-none':!selectedPerson}"
    id="itemCard"
    #itemCard
  >
    <swiper-container
      #swiper
      (afterinit)="swiperReady()"
      [pagination]="true"
      [zoom]="true"
    >
      <div class="swiper-pagination"></div>
      <swiper-slide *ngFor="let imgURL of selectedPerson?.images">
        <div class="swiper-zoom-container">
          <img alt="Silhouette of mountains" [src]="imgURL" />
        </div>
      </swiper-slide>
    </swiper-container>
    <p class="item-detail">
      <ion-card-title>{{selectedPerson?.name}}</ion-card-title>
      <ion-card-subtitle *ngIf="selectedPerson">
        {{selectedPerson.description|slice:0:80}}<span
          *ngIf="selectedPerson.description.length>80"
          >...</span
        >
      </ion-card-subtitle>
    </p>
  </ion-card>
</ion-content>
<ion-grid class="action-buttons">
  <ion-row>
    <ion-col>
      <ion-button size="large" color="danger" expand="full" (click)="dislike()">
        <ion-icon name="thumbs-down"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button size="large" color="success" expand="full" (click)="like()">
        <ion-icon name="thumbs-up"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
