.titleicon {
  position: absolute;
  top: 0;
  left: 10px;
  display: flex;
  bottom: 0;
  align-items: center;
}
ion-content {
  .no-message-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;

    flex-wrap: wrap;
    .img {
      width: 150px;
      filter: grayscale(1);
      margin-bottom: 1vh;
    }
    ion-label {
      width: 100%;
      text-align: center;
    }
  }
  ion-list {
    padding: 10px 10px;
    ion-list-header {
      font-weight: 600;
      font-size: 1rem;
    }
    ion-item {
      margin-top: 2vh;
      border-radius: 15px;
      ion-label {
        font-size: 1.2rem;
        p {
          margin-top: 3px;
        }
      }
      ion-text {
        font-size: 0.9rem;
      }
      ion-avatar {
        height: 60px;
        width: 60px;
      }
    }
  }
}
