<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="titleicon">
      <img alt="logo" height="40px" src="assets/icon/brandLogo.png" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="full">
    <ion-item
      routerLink="chat/{{person.id}}"
      *ngFor="let person of persons"
      color="light"
    >
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" [src]="person.images[0]" />
      </ion-avatar>
      <ion-label>
        {{person.name}}
        <p>
          <ion-text color="medium"> message </ion-text>
        </p>
      </ion-label>
      <ion-text slot="end" color="medium">10:00</ion-text>
    </ion-item>
  </ion-list>
</ion-content>
