.titleicon {
  position: absolute;
  top: 0;
  left: 10px;
  display: flex;
  bottom: 0;
  align-items: center;
}
ion-content {
  ion-list {
    padding: 10px 10px;
    ion-list-header {
      font-weight: 600;
      font-size: 1rem;
    }
    ion-item {
      margin-top: 2vh;
      border-radius: 15px;
      ion-label {
        font-size: 1.2rem;
        p {
          margin-top: 3px;
        }
      }
      ion-text {
        font-size: 0.9rem;
      }
      ion-avatar {
        height: 60px;
        width: 60px;
      }
    }
  }
}
